<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-envelope"></i>
        <span>{% trans from 'mail-type' %}mail_type.name{% endtrans %}</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {% for mailType in mailTypes %}
                <a class="collapse-item" href="{{ url('mail-type_display', {name: mailType.name | lower}) }}">{{ mailType.name }}</a>
            {% endfor %}
        </div>
    </div>
</li>